# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node/build
node_modules/
dist/
build/

# Logs
*.log

# Local dev
.env
.env.*

# caché
*.tmp
# Para tu caso específico de portafolio:
public/hot-reload* 
*.compiled.*
*LocalIA.yaml